/* =============================================================================
  CONTENT
============================================================================= */

/*.content {
  position: relative;
  background-color: white;
  z-index: 2;
  margin: 0 auto;
  max-width: 720px;
}*/

/* =============================================================================
  VIDEO
============================================================================= */

.video {
  position: fixed;
  top: 50%; left: 50%;
  z-index: -99;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}

.poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}

.logo-wrapper {
  width:100%;
  height:100vh;
  /*padding-top:40%;*/
}

.logo {
  /*top: 50% !important;*/
  position: absolute;
  top:50%;
  left: 50% !important;
  transform: translate(-50%, -50%);
  max-width: 300px;
  /*display: none;*/

  transition: 5s ease;

}

.in-line {
  display: inline;
}

.video-container .filter {
    z-index: -98;
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
}

.content {
  margin-top: -10%;
}

p, h3, h8, label {
  color: white;
  font-family: 'airkiss';
}

.glowing {
  color: black;
  text-shadow: #fff 0px 0px 1px, #fff 0px 0px 1px, #fff 0px 0px 1px;
  -webkit-font-smoothing: antialiased;
}

.quote {
  float: right !important;
  /*line-height: 0.4;*/
}

.divider {
  min-height: 50px;
}

.small-divider {
  min-height: 20px;
}


.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.diagram {
  max-width: 100%;
}

#video-controls {
  position: fixed;
  z-index: 99;
}

#mute, #play-pause {
  border: none !important;
  max-width: 60px;
  margin-top: 10px;
}

@font-face {
    font-family: 'airkiss';
    src: url(../font/AkzidenzGroteskPro-MdEx.otf);
}

/* =============================================================================
  READ MORE
============================================================================= */

.read-more-state {
  display: none !important;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Show more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Show less';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;

  color: black;
  text-shadow: #fff 0px 0px 1px, #fff 0px 0px 1px, #fff 0px 0px 1px;
  /*text-decoration: underline;*/
  -webkit-font-smoothing: antialiased;
  /*padding: 0 .5em;*/
  /*color: #666;*/
  /*font-size: .9em;*/
  /*line-height: 2;
  border: 1px solid #ddd;
  border-radius: .25em;*/
}
